<div class="page-header">

<div class="row">
  <div class="col-sm-offset-2 col-sm-8">   
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">
         All Users 
       </h1>
      </div>
      <% @users.each do |user| %>
      <div class="panel-body">
        <table class-"table">
        <a href="/users/<%= user.id %>"> <%= user.username %> </a>
      </table>
      </div>
      <% end %>
    </div>
  </div>
</div>